.new-carona nav ul li{
    position:relative;
    top:1px
}

.new-carona .adjust{
    margin-top: 14px;
}

.new-carona img{
    width: 80px;
    height: 80px;
}


.new-carona .register-carona-container{
    width: 100%;
    max-width: 1120px;
    height: 40vh;
    margin: 0 auto;
    display: flex;
}


.new-carona .register-form{
    position: relative;
    top: 3vh;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 400px;
    background-color: #f2c94c;
    display: flex;
    flex-direction: column;
}


.new-carona .register-submit{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
}

.new-carona .register-carona-container section input{
    margin: 0 10px 0 10px;
    padding: 10px;
    border-style: none;
    background-color: #E0E0E0;
}

.new-carona .register-carona-container section label{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.new-carona .button-register{
    position: relative;
    top: 30px;
    margin: 0 10px 0 10px;
    color: #f2c94c;
    padding: 5px 30px 5px 30px;
    border-style: none;
}

.new-carona .register-carona-container a{
    position: relative;
    top: 20px;
    left: 10px;
    color: #4472b2;
}

.register-submit .select{
    font: 400 14px Anton, sans-serif;
    position: relative;
    background-color: #e0e0e0;
    border-style: none;
    left: 10px;
    width: 380px;
    height: 47px;
}

.react-datetime-picker__wrapper{
    border-style: none;

}

.react-datetime-picker{
    padding: 10px;
    position: relative;
    right: 12px;
    bottom: 5px;
}